<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula</title>
    <style>
        body{
            background-color: rgb(112, 100, 100);
        }
        button{
            background-color: rgb(42, 109, 42);
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
            font-size: 20px;
            
        }
        div{
            display: flex;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <a href="<%=link%>"><button>Entrar na aula</button></a>
    </div>
</body>
</html>